:root {
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
    margin: 0.3rem;
    padding: 0;
}

.bouncing-div {
    background-color: red;
    position: absolute;
    border-radius: 300px;
}

.hidden {
    display: none;
}
